
@{
  ViewBag.Title = "HazardousGuidelines";
}

<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">
      <h4 class="page-title">Hazardous Waste Customers Guidelines</h4>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">Hazardous waste application</a></li>
        
      </ol>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card" style="min-height: 100%; display: table-cell">
      <div class="card-body charges" style="height: auto;    display: table;">
        <h4 class="mt-0 header-title chargestitle"><span class="ml-0">Dear Valued Customer, kindly consider the below guidelines when preparing your waste to be loaded and transported by our team to ensure the safety of everyone and a smooth disposal process</span></h4>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <br>
    <div class="page-title-box">
      <h4 class="page-title pull-left">Waste segregation:</h4>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="col-lg-12" style="padding: 30px 20px; background: #fff; display: table;">
      <p>As a general guideline, the waste must always be segregated as much as possible based on the following points:</p>
      <ul style="line-height: 26px;">
        <li>Based on types, for example oil filters must not be mixed with paint containers.</li>
        <li>Based on material made from, for example metallic waste must not be mixed with plastic waste.</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-12">
    <br>
    <div class="page-title-box">
      <h4 class="page-title pull-left">Drums and barrels:</h4>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="col-lg-12 gbox" style="padding: 30px 20px; background: #fff; display: table;">
      <div class="row">
        <div class="col-lg-8">
          <p>All Liquid waste contained in drums or barrels must follow the below guidelines: </p>
          <ul style="line-height: 26px;">
            <li>Waste Barrels must be put on pallets</li>
            <li>Barrels must not be open or leaking and must be closed</li>
            <li>The barrel must be clean and in a reasonably good condition</li>
            <li>Barrels must be labelled to identify the type or name of waste</li>
            <li>For small jerry cans or small liquid containers, it must be put on a pallet and wrapped with a transparent wrapping.</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <img src="~/Assets/images/drumsbarrels.png" class="w-100" alt="" title="" style="border-radius: 5px;">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <br>
    <div class="page-title-box">
      <h4 class="page-title pull-left">Sludge waste &amp; Sand Blast:</h4>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="col-lg-12 gbox" style="padding: 30px 20px; background: #fff; display: table;">
      <div class="row">
        <div class="col-lg-8">
          <p>All waste sludge &amp; Sand Blast waste must follow the below guidelines: </p>
          <ul style="line-height: 26px;">
            <li>For Sand Blast waste powder or for dry sludge waste with low moisture content (&lt;20%) it must be put in suitable bags</li>
            <li>In case if the sludge is in semi solid or slurry form it must be put in IBCs container shown on the right</li>
          </ul>
        </div>
        <div class="col-lg-2">
          <img src="~/Assets/images/sludgesand.png" class="w-100" alt="" title="" style="border-radius: 5px;">
        </div>
        <div class="col-lg-2">
          <img src="~/Assets/images/sand.png" class="w-100" alt="" title="" style="border-radius: 5px;">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <br>
    <div class="page-title-box">
      <h4 class="page-title pull-left">Solid Chemical Waste:</h4>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="col-lg-12 gbox" style="padding: 30px 20px; background: #fff; display: table;">
      <div class="row">
        <div class="col-lg-8">
          <p>Solid Chemical Waste must follow the below guidelines:</p>
          <ul style="line-height: 26px;">
            <li>Expired solid chemical waste must be contained in their bags and to be put on a pallet and wrapped with transparent wrapping as shown on the right. </li>
            <li>For empty bottles used for toxic chemicals it must always be contained in a well closed containers or boxes.</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <img src="~/Assets/images/solid.png" class="w-100" alt="" title="" style="border-radius: 5px;">
        </div>
      </div>
    </div>
  </div>

</div>

