################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HFZMVC/UploadedFiles
HFZMVC.Tests/bin/Debug/Antlr3.Runtime.dll
HFZMVC.Tests/bin/Debug/Antlr3.Runtime.pdb
HFZMVC.Tests/bin/Debug/Aspose.PDF.dll
HFZMVC.Tests/bin/Debug/Aspose.PDF.xml
HFZMVC.Tests/bin/Debug/EntityFramework.dll
HFZMVC.Tests/bin/Debug/EntityFramework.xml
HFZMVC.Tests/bin/Debug/HFZMVC.dll
HFZMVC.Tests/bin/Debug/HFZMVC.dll.config
HFZMVC.Tests/bin/Debug/HFZMVC.pdb
HFZMVC.Tests/bin/Debug/HFZMVC.Tests.dll.config
HFZMVC.Tests/bin/Debug/HFZMVC.Tests.dll
HFZMVC.Tests/bin/Debug/HFZMVC.Tests.pdb
HFZMVC.Tests/bin/Debug/sapnco.dll
HFZMVC.Tests/bin/Debug/Newtonsoft.Json.dll
HFZMVC.Tests/bin/Debug/Newtonsoft.Json.xml
HFZMVC.Tests/bin/Debug/sapnco_utils.dll
HFZMVC.Tests/bin/Debug/System.Web.Optimization.dll
HFZMVC.Tests/bin/Debug/System.Web.Optimization.xml
HFZMVC.Tests/bin/Debug/WebGrease.dll
HFZMVC.Tests/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
HFZMVC.Tests/obj/Debug/HFZMVC.Tests.csproj.CoreCompileInputs.cache
HFZMVC.Tests/obj/Debug/HFZMVC.Tests.csproj.FileListAbsolute.txt
HFZMVC.Tests/obj/Debug/HFZMVC.Tests.csprojAssemblyReference.cache
HFZMVC.Tests/obj/Debug/HFZMVC.Tests.dll
HFZMVC.Tests/obj/Debug/HFZMVC.Tests.pdb
HFZMVC.Tests/obj/Release/HFZMVC.Tests.csproj.CoreCompileInputs.cache
HFZMVC.Tests/obj/Release/HFZMVC.Tests.csprojAssemblyReference.cache
HFZMVC/.vs/HFZMVC/v16/.suo
HFZMVC/.vs/HFZMVC/v16/Server/sqlite3/storage.ide
HFZMVC/bin/HFZMVC.dll
HFZMVC/bin/HFZMVC.dll.config
HFZMVC/bin/HFZMVC.pdb
HFZMVC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HFZMVC/obj/Debug/HFZMVC.csproj.FileListAbsolute.txt
HFZMVC/obj/Debug/HFZMVC.csprojAssemblyReference.cache
HFZMVC/obj/Debug/HFZMVC.dll
HFZMVC/obj/Debug/HFZMVC.pdb
*.dll
*.config
*.pdb
*.cache
HFZMVC/.vs/HFZMVC/v16/.suo
HFZMVC.Tests/bin/Debug/HFZMVC.pdb
HFZMVC.Tests/bin/Debug/HFZMVC.dll.config
HFZMVC.Tests/bin/Debug/Newtonsoft.Json.dll
HFZMVC.Tests/obj/Debug/HFZMVC.Tests.csproj.FileListAbsolute.txt
HFZMVC.Tests/obj/Debug/HFZMVC.Tests.csprojAssemblyReference.cache
HFZMVC.Tests/obj/Debug/HFZMVC.Tests.dll
HFZMVC.Tests/obj/Debug/HFZMVC.Tests.pdb
