
@{
  ViewBag.Title = "Index";
}
<div class="row">
  <div class="col-md-12">
    <h2 style="margin-bottom:25px">System Error</h2>

    <p>We had an unknown error while processing your request. Please note the error is already forwareded to the administrators</p>
    <p>Please close your browser and do a fresh login.</p>

  </div>
</div>


