@{
    ViewBag.Title = "Privacy Policy";
}
<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">
      <h4 class="page-title">Privacy Policy</h4>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card pricedetailsection">
      <div class="card-body">
        <div class="table-responsive">
          <p class="paragraph">
            This Privacy Policy sets out the basis on which any personal data, including but not limited to payment details and other information we collect from you or other sources or that you provide to us ("Information") will be handled by us in connection with your access and use of www.Company.com, and/or the Company mobile application (collectively, the "Platform/ Portal/ Site"), services and applications (collectively, the "Services"). We understand the importance you place on the Information, and we are committed to protecting and respecting your privacy. Please read the following carefully to understand our practices regarding your Information. By using our Services, you agree to the handling of your Information in accordance with this Privacy Policy.
            References in this Privacy Policy to <b>"we"</b>, <b>"our"</b> or <b>"us"</b> (or similar) are references to Company E Commerce Owned By Johara Tus Sharaf Portal. References to <b>"user"</b> or <b>"you"</b> (or similar) are references to you as an individual or legal entity as the case may be.

          </p>
          <h4 class="paraheading">WHAT INFORMATION WE MAY COLLECT FROM YOU</h4>
          <p class="paragraph">
            We may collect and process the following Information about you:<br />
            a.	Information that you provide by filling in forms on our Platform, including information provided at the time of registering to use our Platform and other co- registrations (e.g. social media logins), subscribing to our Services, posting material or requesting further services;<br />
            b.	the Information you provide when you enter a competition or promotion via our Platform, provide reviews, testimonials or feedback on our Platform;<br />
            c.	Information you provide us, or that we may collect from you, when you report a problem with our Platform;<br />
            d.	a record of correspondence if you contact us;<br />
            e.	general, aggregated, demographic and non-personal Information;<br />
            f.	if you download or use our mobile application, we may have access to details about your location and your mobile device, including a unique identifier for your device;<br />
            g.	details of transactions you carry out through our Platform and of the fulfilment of your orders;
            h.	details about your computer, including but not limited to your IP address, operating system and browser type, as well as information about your general internet usage (e.g. by using technology that stores information on or gains access to your device, such as cookies, tracking pixels, web beacons, etc., (together, "Cookies"));<br />
            i.	your email address from a third party if you indicate that you have consented to that third party sharing your Information with us; and<br />
            j.	any other Information we consider necessary to enhance your experience on the Platform.
          </p>
          <h4 class="paraheading">HOW WE WILL USE YOUR INFORMATION</h4>
          <p class="paragraph">
            Having accurate information about you permits us to provide you with a smooth, efficient, and customized experience. Specifically, we may use information collected about you via the Site [or our mobile application] in the following ways]<br />

            a.	to provide you with information, products or services that you request from us or which we feel may interest you, where you have consented to be contacted for such purposes;<br />
            b.	to provide you with location-based services, such as advertising, search results and other personalised content;<br />
            c.	to carry out our obligations arising from any contracts entered into between you and another entity using our Platform or between you and us;<br />
            d.	to improve our Services and to deliver a better and more personalised service to you;<br />
            e.	to ensure that content from our Platform is presented in the most effective manner for you and the device you use to access our Platform;<br />
            f.	to notify you about changes to our Services;<br />
            g.	for any other reason which we deem necessary to enhance your experience of the Platform;
            •	to administer and manage our incentives programs and fulfil your requests for incentives, and/or to allow you to participate in sweepstakes and to notify you if you are a sweepstakes winner.

            Assist law enforcement and respond to order<br />
            •	Compile anonymous statistical data and analysis for use internally or with third parties.<br />
            •	Create and manage your account.<br />
            •	Deliver targeted advertising, coupons, newsletters, and other information regarding promotions and the Site [and our mobile application] to you.<br />
            •	Email you regarding your account or order.<br />
            •	Enable user-to-user communications.<br />
            •	Fulfill and manage purchases, orders, payments, and other transactions related to the Site [and our mobile application].<br />
            •	Generate a personal profile about you to make future visits to the Site [and our mobile application] more personalized.<br />
            •	Increase the efficiency and operation of the Site [and our mobile application].<br />
            •	Monitor and analyze usage and trends to improve your experience with the Site [and our mobile application].<br />
            •	Notify you of updates to the Site [and our mobile application]s.<br />
            •	Offer new products, services, [mobile applications,] and/or recommendations to you.
            •	Perform other business activities as needed.<br />
            •	Prevent fraudulent transactions, monitor against theft, and protect against criminal activity.
            •	Process payments and refunds.<br />
            •	Request feedback and contact you about your use of the Site [and our mobile application].
            •	Resolve disputes and troubleshoot problems.<br />
            •	Respond to product and customer service requests.<br />
            •	Send you a newsletter.<br />
            •	Solicit support for the Site [and our mobile application].<br />
            •	[Other]

          </p>
          <h4 class="paraheading">TO WHOM WE MAY DISCLOSE YOUR INFORMATION</h4>
          <p class="paragraph">

            Information about our customers is an important part of our business. We  may  share your Information only as described below and with businesses that follow practices at least as protective as those described in this Privacy Policy.<br />
            a.	Other Businesses. To offer you our Services, we may engage with businesses who are affiliates of us and/or non-affiliated service providers (e.g. logistics businesses used to deliver products to you, marketing companies, payments processors to process online transactions, etc.). We may involve other businesses in your transactions, who may store your Information in a digital wallet to make your use of our Services more efficient.<br />
            You understand that it is important that such businesses have access to the relevant Information to perform their functions. We will ensure that these businesses do not use your Information for other purposes. We may also receive Information from these businesses (e.g. updated delivery and address information), which we may use (e.g. to correct our records and deliver your next purchase). By using our Platform, you hereby freely and specifically consent to the transfer, storage, use, and disclosure of your Information among businesses who are affiliates of us and/or non-affiliated service providers, wherever located. These businesses shall be contractually bound to respect the confidentiality of your Information.<br />
            b.	Marketing and Promotional Offers. We may also use your Information to provide you with information about goods and services which may be of interest to you and enhance your Platform experience, service messages, new features, enhancements, special offers and events of interest. We may contact you via various channels, including without limitation emails, push notifications, web notifications, post, telephone, in-app messages and news feed cards.
            We may permit third parties to use your Information. For example, we may provide advertisers Information to help them reach the kind of audience they want to target and to enable us to comply with our commitments to our advertisers (e.g. by displaying their advertisements to a target audience).<br />
            Additionally, you may be asked to provide additional Information to participate in some of our market research activities, including competitions and promotions. For example, if you win a competition, you may be asked to provide further personal data to establish your eligibility and provide you with the prize. This Information may be collected by us or our co-sponsors or vendors for the promotion. Note that you should review such third parties’ privacy policies to see how they may use any information that they collect.<br />
            c.	Business Transfers. In the event that we or substantially all of our assets are acquired, customer information will be one of the transferred assets.<br />
            d.	By Law or for the Protection of Our Platform and Others. We release accounts and other Information to when we believe such a release is appropriate to comply with the law and law enforcement investigations or remedy potential violations of our policies  and to protect the rights, property or safety of our users or others we may share your information as permitted or required by any applicable law, rule, or regulation This includes exchanging information with other companies and organisations for various reasons, such as fraud protection and credit risk reduction.
            Note that our Platform may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data or other information to these websites.<br />


            All credit/debit cards details and personally identifiable information will NOT be stored, sold, shared, rented or leased to any third parties.<br />
            The Website Policies and Terms & Conditions may be changed or updated occasionally to meet the requirements and standards. Therefore the Customers’ are encouraged to frequently visit these sections in order to be updated about the changes on the website. Modifications will be effective on the day they are posted.<br />
            Some of the advertisements you see on the Site are selected and delivered by third parties, such as ad networks, advertising agencies, advertisers, and audience segment providers. These third parties may collect information about you and your online activities, either on the Site or on other websites, through cookies, web beacons, and other technologies in an effort to understand your interests and deliver to you advertisements that are tailored to your interests. Please remember that we do not have access to, or control over, the information these third parties may collect. The information practices of these third parties are not covered by this privacy policy.<br />




          </p>
          <h4 class="paraheading">
            HOW WE STORE YOUR INFORMATION
          </h4>
          <p class="paragraph">
            HOW WE STORE YOUR INFORMATION
          </p>
          <h4 class="paraheading">WHAT SECURITY MEASURES WE APPLY </h4>
          <p class="paragraph">
            We maintain commercially reasonable technical, administrative, and physical safeguards to ensure your Information is treated securely and in accordance with this Privacy Policy, and to protect against unauthorized access or alteration to, disclosure, or destruction of your Information. We may, for example, use encryption technology to secure your Information during transmission to our Platform as well as external firewall and on-host firewall technology to prevent network level attacks. Only those authorized employees, contractors, and agents who need to know your Information in connection with the performance of their services are allowed to access this Information.
            It is important for you to protect yourself against unauthorised access to your password and to your devices used to access our Services. You are responsible for keeping your password confidential. For example, ensure that you sign off when you have finished using a shared device.
            Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect and secure  your Information, that you provide to us , please be aware that despite our efforts and no method of data transmission can be guaranteed against any interception or other type of misuse. Any information disclosed online is vulnerable to interception and misuse by unauthorized parties . Therefore we cannot guarantee the security of your Information transmitted to our Platform and any transmission is at your own risk.
          </p><h4 class="paraheading"> HOW CAN YOU ACCESS AND AMEND YOUR INFORMATION?</h4>
              <p class="paragraph">
                You are able to access a broad range of information about your account and your interactions with the Platform for the purpose of viewing and, in certain cases, updating your Information.
                Examples of information you can access easily at the Platform include:<br />
                a.	up-to-date information regarding recent orders;<br />
                b.	personally identifiable information (including name, e-mail, password, communications and personalised advertising preferences);<br />
                c.	payment settings (including credit card information); and
                d.	e-mail notification settings.<br />
                You can opt-out of receiving future marketing communications from us at any time by adjusting your customer communication preferences, through the unsubscribe link within the email communication. For marketing via your mobile application, you will need to adjust your notifications settings in the general section of your mobile.<br />
                Also, our system will place cookies when you log on to our Platform and this is to ensure you have an enjoyable user experience and are able to utilise all aspects of the Platform. You may disable Cookies by changing the settings on your browser. If you disable Cookies, it will affect how our Platform works and you may not be able to access or use certain areas of our Platform or full functionality. For example, performance cookies collect information about how you use the Site, for instance, which pages you visit most often, which allows us to provide you with targeted and relevant choices that enhance your Site experience.
                We may retain a copy of your Information for compliance reasons. When you update Information, we may retain a copy of the prior version for our records.
              </p><h4 class="paraheading">
  OPTIONS REGARDING YOUR INFORMATION</h4>
                  <p class="paragraph">
                    You may at any time review or change the information in your account or terminate your account by:
                    •	Logging into your account settings and updating your account
                    •	Contacting us using the contact information provided below
                    •	[Other]
                    Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with legal requirements.
                  </p>
          <br />
                  <h4 class="paraheading"> Use of Cookies and Web Beacons</h4>
                  <p class="paragraph">
                    We may use cookies, web beacons and other tracking technologies on the Site [and our mobile application] to help customize the Site [and our mobile application] and improve your experience. When you access the Site [or our mobile application], your personal information is not collected through the use of tracking technology. Most browsers are set to accept cookies by default. You can remove or reject cookies, but be aware that such action could affect the availability and functionality of the Site [or our mobile application]. You may not decline web beacons. However, they can be rendered ineffective by declining all cookies or by modifying your web browser’s settings to notify you each time a cookie is tendered, permitting you to accept or decline cookies on an individual basis.
                    For more information on how we use cookies, please refer to our Cookie Policy posted on the Site, which is incorporated into this Privacy Policy. By using the Site, you agree to be bound by our Cookie Policy.]
                  </p>
                  <h4 class="paraheading"> UPDATE OF OUR PRIVACY POLICY</h4>
                  <p class="paragraph">
                    Our business changes constantly, and our Privacy Policy may therefore also need to change. We will post the current version of this Privacy Policy on the Platform and each such change will be effective upon posting on the Platform or upon the date designated by us as the "effective date".
                    We may email periodic reminders of our notices and conditions, but you should check our Platform frequently to see recent changes.
                    It is your obligation to regularly check the Privacy’s Policy or any other policies on the portal. Your continued use of the Portal following any such change constitutes your agreement to this Privacy Policy or any other policies posted on the site as so modified.
                  </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end col -->
</div>

@section styles{
<style>
  p {
    text-align: justify !important;
  }
</style>
} 