
@{
  ViewBag.Title = "Terms and Condition";
}
<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">
      <h4 class="page-title">Terms and Condition</h4>
      
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card pricedetailsection">
      <div class="card-body">
        <div class="table-responsive">

          <p class="paragraph">
            This page (together with the documents referred to on it) tells you the terms and conditions ("Terms & Conditions") on which we supply any of the products ("Products") listed on our website www.company.com (the "WebSite") to you. Please read these Terms & Conditions carefully before ordering any Products from the Site. You should understand that by ordering any of the Products, you agree to be bound by these Terms & Conditions. You can print a copy of these Terms & Conditions by selecting the print option from the "File" menu of your browser. Please also note that the use of the Site is subject to the terms contained in the Disclaimer document, which apply whether or not you order any Products from the Site. You should also read our Privacy Policy.
          </p>
          <h4 class="paraheading">1. INFORMATION ABOUT US</h4>
          <p class="paragraph">The Site is operated by Company("we" / "us"). We are registered in U.A.E - Sharjah and with our registered office at Al Quoz Industrial Area, Sharjah, UAE </p>
          <h4 class="paraheading">2. HOW THE CONTRACT IS FORMED BETWEEN YOU AND US</h4>
          <p class="paragraph">
            2.1 You may place an order to purchase a Product advertised for sale on the Site by following the onscreen prompts after clicking on the item you are interested in. You will have an opportunity to check and correct any input errors in your order up until the point at which you submit your order by clicking the "Make Payment" button on the "Payment Details" page.<br />
            2.2 After placing an order, you will receive an e-mail (the "Order Confirmation") from us acknowledging that we have received your order and giving an order number and a summary of your order. Please note that this does not mean that your order has been accepted. Your order constitutes an offer to us to buy a Product. All orders are subject to acceptance by us, and we will confirm such acceptance to you by sending you an e-mail that confirms that the Product has been dispatched (the "Dispatch Confirmation"). The contract between us will only be formed when we send you the Dispatch Confirmation.<br />
            2.3 The contract will relate only to those Products whose dispatch we have confirmed in the Dispatch Confirmation. We will not be obliged to supply any other Products, which may have been part of your order until the dispatch of such Products has been confirmed in a separate Dispatch Confirmation.
            2.4 We may choose not to accept your order for any reason and we will not be liable to you or to anyone else in those circumstances.<br />
            2.5 We may be unable to process your order if:
            The Product you ordered is out of stock or discontinued;
            OR<br />
            There is a problem with the authorization of the payment on your credit card.
          </p>
          <h4 class="paraheading">3. DELIVERY</h4>
          <p class="paragraph">
            3.1 We will deliver the Products to you in accordance with the delivery option specified by you when you placed your order (e.g. Standard Delivery or Express Delivery).<br />
            3.2 We will usually deliver all Products comprised in your order in one delivery. We will deliver directly to the delivery address specified in your order. Please see Delivery information for details of where we deliver and the available delivery options. We cannot deliver items within the same order to multiple addresses. Where possible Deliveries will be made to your door. We are not responsible for any additional carrying or positioning of Products ordered. Express Deliveries must be signed for at the delivery address.


          </p>
          <h4 class="paraheading">4. RISK AND OWNERSHIP</h4>
          <p class="paragraph">
            Once delivered, the Products ordered will become your responsibility and, except in relation to Products that are damaged or faulty when delivered or have been incorrectly delivered, we will not accept any liability for their loss, damage or destruction after they have been delivered.
          </p>

          <h4 class="paraheading">5. PRICE AND PAYMENT</h4>
          <p class="paragraph">
            5.1 The price of any Products will be as quoted on our Site from time to time, except in cases of obvious error.<br />
            5.2 Prices are liable to change at any time, but changes will not affect orders in respect of which we have already sent you a Dispatch Confirmation.<br />
            5.3 We cannot complete your order until you have paid for it in full. Payment can be made by most major credit or debit cards and Paypal by completing the relevant details on the "Payment Details" page.<br />
            5.4 By using a credit/debit card or Paypal to pay for your order, you confirm that the card/account being used is yours. All credit/debit card/Paypal account holders are subject to validation checks and authorisation by the card issuer. If the issuer of your card refuses to authorise payment we will not accept your order and we will not be liable for any delay or non-delivery and we are not obliged to inform you of the reason for the refusal. We are not responsible for your card issuer or bank charging you as a result of our processing of your credit/debit card/PayPal payment in accordance with your order.<br />
            5.5 Our Site contains a large number of Products and it is always possible that, despite our best efforts, some of the Products listed on our Site may be incorrectly priced. We will rectify any such errors as soon as possible once we become aware of them. If a Product's correct price is different from the price stated on our Site, we will normally, at our discretion, either contact you for instructions before dispatching the Product, or reject your order and notify you of such rejection.

          </p><h4 class="paraheading">
            6. OUR CANCELLATION, RETURNS AND REFUND POLICY
          </h4>
          <p class="paragraph">
            6.1 You may cancel your order (or any part of it) at any stage before the Products are dispatched to you, and up to 28 days afterwards. Please refer to your ("Dispatch Confirmation") email for the Returns Procedure for online orders or by contacting our Customer Services team on shop@company.com or call us.<br />
            6.2 Where you decide to cancel an order after we have despatched the Products, you will be under a duty to return them to us, at your own risk. All such Products should be returned within 28 days after the Products have been delivered to you. Until such time as they are returned, you must retain possession of the Products and take reasonable care of them. You should return the Products to us unused and in the same condition in which you received them together with the original Product packaging.<br />
            6.3 After you cancel your order and return the Products, any sum debited by us to your credit/debit card/PayPal will be refunded in full. We will notify you of your refund via e-mail within a reasonable period of time. We will usually refund any money received from you using the same method originally used by you to pay for your purchase except for PayPal returns in store. Refunds for Products purchased as gifts can only be given to the credit/debit card of the person who placed the order. We will usually process the refund due to you as soon as possible and, in any case, within 30 days of receiving the order back from you.<br />
            6.4 If any Product you purchase is damaged, faulty or incorrect, when delivered to you we may offer an exchange or refund as appropriate, in accordance with your legal rights.<br />
            6.5 Our policy on cancellations, returns and refunds do not affect your statutory legal rights.

          </p>
          <h4 class="paraheading">7. MESSAGE CARDS</h4>
          <p class="paragraph">
            <ul>
              <li>

              </li>
            </ul>
            7.1 If, when ordering any Product from the Site, you indicate that you are purchasing it as a gift and wish the order to be delivered to the intended recipient, you will have the opportunity to request us to include a message card with the delivery. You are responsible for ensuring that any wording that you request to be printed on the message card does not infringe the intellectual property rights or other rights of any third party or contain anything that is obscene, indecent, vulgar, offensive, blasphemous, scandalous, defamatory, or otherwise inappropriate or which may cause distress or discomfort to the recipient.<br />
            7.2 We will not be responsible for any wording you include on a message card. We do not routinely check the wording of message cards but reserve the right to refuse to print or send any message card which we (in our absolute discretion) think contains any inappropriate wording.<br />
                                                                                                                                                                                                                                                                                                  <h4 class="paraheading">10. GENERAL </h4>
          <p class="paragraph">
            <ul>
              <li>

              </li>
            </ul>
            10.1 If any of these Terms & Conditions are declared invalid, unlawful or unenforceable, then that provision shall be deemed to be deleted from these Terms & Conditions and the remaining provisions shall remain in full force and effect.<br />
            10.2 We have the right to revise and amend these Terms & Conditions from time to time without prior notice by changing them on the Site, provided that any such change will not affect any purchases you have made before the change is implemented.<br />
            10.3 Failure by us to enforce a right does not result in waiver of such right. You may not assign or transfer your rights under these Terms & Conditions.

          </p><h4 class="paraheading">8. NOTICES</h4>
          <p class="paragraph">
            Any formal legal notices should be sent to us at our Customer Services address set out in the Contact Us section.
            <hr />
            <h3>DISCLAIMER & TERMS OF USE</h3>

          </p><h4 class="paraheading">INTRODUCTION</h4>
          <p class="paragraph">
            www.company.com (the "Site") is operated by Company("we" and "us" and "our").
            Use of the Site is on the terms contained in this document ("Terms of Use"). If you do not agree to these Terms of Use, stop using the Site immediately. By accessing and using this Site you are indicating your acceptance to be bound by these Terms of Use. They are a legal agreement between you and us and can only be amended with our consent. They should be read in conjunction with any details provided on the Site about how the Site operates and the services which are available.
            The supply of any products or services you order from this Site is subject to our Terms & Conditions. You should also read our Privacy Policy.
            Supplemental terms and conditions or documents that may be posted on the Site from time to time are hereby expressly incorporated herein by reference. We reserve the right in our sole discretion to change these Terms of Use and  fromConditions from time to time without prior notice by changing them on the Site at any time and for any reason,
            It is your responsibility to periodically review these Terms and Conditions to stay informed of updates. You will be subject to, and will be deemed to have been made aware of and to have accepted, the changes in any revised Terms and Conditions by your continued use of the Site after the date such revised Terms and Conditions are posted.
            The information provided on the Site is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject us to any registration requirement within such jurisdiction or country.
            Accordingly, those persons who choose to access the Site from other locations do so on their own initiative and are solely responsible for compliance with local laws, if and to the extent local laws are applicable.
            These terms and conditions were generated by Termly’s Terms and Conditions Generator.


          </p><h4 class="paraheading">ACCURACY OF INFORMATION</h4>
          <p class="paragraph">
            We will use reasonable endeavours to ensure that information on the Site is accurate, but commentary and other material posted on the Site are not intended to amount to advice on which reliance should be placed. Except to the extent that our Terms & Conditions apply, we make no representation or warranty that any information is accurate, complete or up-to-date and, to the fullest extent permitted by law, we accept no liability for any loss or damage caused by any reliance placed on such information by you or anyone to whom you communicate such information.
            If you find any inaccurate information on the Site please let us know and we will endeavour to correct it, where we agree, as soon as reasonably practicable.


          </p><h4 class="paraheading">INTELLECTUAL PROPERTY RIGHTS</h4>
          <p class="paragraph">
            Unless otherwise indicated, the Site is our proprietary property and all source code, databases, functionality, software, website designs, audio, video, text, photographs, and graphics on the Site (collectively, the “Content”) and the trademarks, service marks, and logos contained therein (the “Marks”) are owned or controlled by us or licensed to us, and are protected by copyright and trademark laws and various other intellectual property rights and unfair competition laws of the United States, foreign jurisdictions, and international conventions.<br />
            The Content and the Marks are provided on the Site “AS IS” for your information and personal use only. Except as expressly provided in these Terms and Conditions, no part of the Site and no Content or Marks may be copied, reproduced, aggregated, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted, distributed, sold, licensed, or otherwise exploited for any commercial purpose whatsoever, without our express prior written permission.<br />
            Provided that you are eligible to use the Site, you are granted a limited license to access and use the Site and to download or print a copy of any portion of the Content to which you have properly gained access solely for your personal, non-commercial use. We reserve all rights not expressly granted to you in and to the Site, the Content and the Marks.


          </p><h4 class="paraheading">USER REPRESENTATIONS </h4>
          <p class="paragraph">
            By using the Site, you represent and warrant that:<br />
            (1) all registration information you submit will be true, accurate, current, and complete; <br />(2) you will maintain the accuracy of such information and promptly update such registration information as necessary;]<br />
            (3) you have the legal capacity and you agree to comply with these Terms and Conditions;<br />
            (4) you will not access the Site through automated or non-human means, whether through a bot, script, or otherwise;<br />
            (5) you will not use the Site for any illegal or unauthorized purpose;<br />
            (6) your use of the Site will not violate any applicable law or regulation.<br />
            If you provide any information that is untrue, inaccurate, not current, or incomplete, we have the right to suspend or terminate your account and refuse any and all current or future use of the Site (or any portion thereof).


          </p><h4 class="paraheading">USER REGISTRATION</h4>
          <p class="paragraph">
            You may be required to register with the Site. You agree to keep your password confidential and will be responsible for all use of your account and password. We reserve the right to remove, reclaim, or change a username you select if we determine, in our sole discretion, that such username is inappropriate, obscene, or otherwise objectionable

          </p><h4 class="paraheading">LINKS TO THIS & OTHER WEBSITES</h4>
          <p class="paragraph">
            We may from time to time provide links that will enable you to access the websites of third parties directly from the Site. Such third-party sites are not under our control and, unless otherwise stated, we have no relationship with the third parties and no contribution is made by us to the content of such websites. When you click through to these sites you leave the area controlled by us, so we cannot therefore accept responsibility for any issues arising in connection with either the third parties' use of your data, the sites' content or the services offered to you by these sites.<br />
            We reserve the right, at our discretion, to prohibit any link from another internet site to materials or information on this Site. Without prejudice to that right, if you wish to link to the Site, you may only do so on the basis that you link to, but do not replicate, the home page of the Site, and subject to the following conditions:<br />
            You do not remove, distort or otherwise alter the size or appearance of our logo;<br />
            You do not create a frame or any other browser or border environment around the Site;<br />
            You do not in any way imply that we endorse any products or services other than our own;<br />
            You do not misrepresent your relationship with us nor present any other false or misleading information about us;<br />
            You do not otherwise use any of the trademarks displayed on the Site without our express written permission;<br />
            You do not link from a website that is not owned by you; and<br />
            Any website from which you link to the Site does not contain any content that is distasteful, offensive or controversial, infringes any intellectual property rights or other rights of any other person or otherwise does not comply with all applicable laws and regulations.<br />

            Any use of the Site in violation of the foregoing violates these Terms and Conditions and may result in, among other things, termination or suspension of your rights to use the Site.


          </p><h4 class="paraheading">
            GUIDELINES FOR REVIEWS
          </h4>
          <p class="paragraph">
            We may provide you areas on the Site to leave reviews or ratings. When posting a review, you must comply with the following criteria:<br />
            (1) you should have firsthand experience with the person/entity being reviewed;<br />
            (2) your reviews should not contain offensive profanity, or abusive, racist, offensive, or hate language;<br />
            (3) your reviews should not contain discriminatory references based on religion, race, gender, national origin, age, marital status, sexual orientation, or disability;<br />
            (4) your reviews should not contain references to illegal activity;<br />
            (5) you should not be affiliated with competitors if posting negative reviews;<br />
            (6) you should not make any conclusions as to the legality of conduct;<br />
            (7) you may not post any false or misleading statements;<br />
            (8) you may not organize a campaign encouraging others to post reviews, whether positive or negative.<br />
            We may accept, reject, or remove reviews in our sole discretion. We have absolutely no obligation to screen reviews or to delete reviews, even if anyone considers reviews objectionable or inaccurate. Reviews are not endorsed by us, and do not necessarily represent our opinions or the views of any of our affiliates or partners.<br />
            We do not assume liability for any review or for any claims, liabilities, or losses resulting from any review. By posting a review, you hereby grant to us a perpetual, non-exclusive, worldwide, royalty-free, fully-paid, assignable, and sublicensable right and license to reproduce, modify, translate, transmit by any means, display, perform, and/or distribute all content relating to reviews.


          </p><h4 class="paraheading">TERM AND TERMINATION</h4>
          <p class="paragraph">
            These Terms and Conditions shall remain in full force and effect while you use the Site. WITHOUT LIMITING ANY OTHER PROVISION OF THESE TERMS AND CONDITIONS, WE RESERVE THE RIGHT TO, IN OUR SOLE DISCRETION AND WITHOUT NOTICE OR LIABILITY, DENY ACCESS TO AND USE OF THE SITE (INCLUDING BLOCKING CERTAIN IP ADDRESSES), TO ANY PERSON FOR ANY REASON OR FOR NO REASON, INCLUDING WITHOUT LIMITATION FOR BREACH OF ANY REPRESENTATION, WARRANTY, OR COVENANT CONTAINED IN THESE TERMS AND CONDITIONS OR OF ANY APPLICABLE LAW OR REGULATION. WE MAY TERMINATE YOUR USE OR PARTICIPATION IN THE SITE OR DELETE [YOUR ACCOUNT AND] ANY CONTENT OR INFORMATION THAT YOU POSTED AT ANY TIME, WITHOUT WARNING, IN OUR SOLE DISCRETION.<br />
            If we terminate or suspend your account for any reason, you are prohibited from registering and creating a new account under your name, a fake or borrowed name, or the name of any third party, even if you may be acting on behalf of the third party.
            In addition to terminating or suspending your account, we reserve the right to take appropriate legal action, including without limitation pursuing civil, criminal, and injunctive redress.


          </p><h4 class="paraheading">MODIFICATIONS AND INTERRUPTIONS</h4>
          <p class="paragraph">
            We reserve the right to change, modify, or remove the contents of the Site at any time or for any reason at our sole discretion without notice. However, we have no obligation to update any information on our Site. We also reserve the right to modify or discontinue all or part of the Site without notice at any time.<br />
            We will not be liable to you or any third party for any modification, price change, suspension, or discontinuance of the Site.<br />
            We cannot guarantee the Site will be available at all times. We may experience hardware, software, or other problems or need to perform maintenance related to the Site, resulting in interruptions, delays, or errors.<br />
            We reserve the right to change, revise, update, suspend, discontinue, or otherwise modify the Site at any time or for any reason without notice to you. You agree that we have no liability whatsoever for any loss, damage, or inconvenience caused by your inability to access or use the Site during any downtime or discontinuance of the Site.
            Nothing in these Terms and Conditions will be construed to obligate us to maintain and support the Site or to supply any corrections, updates, or releases in connection therewith.


          </p><h4 class="paraheading">GOVERNING LAW</h4>
          <p class="paragraph">
            These Terms and Conditions and your use of the Site are governed by and construed in accordance with the  United Arab Emirates laws applicable to agreements made and to be entirely performed within any emirates  without regard to its conflict of law principles.

          </p><h4 class="paraheading">DISPUTE RESOLUTION</h4>
          <p class="paragraph">
            Any legal action of whatever nature brought by either you or us (collectively, the “Parties” and individually, a “Party”) shall be commenced or prosecuted in the  UAE courts and the Parties hereby consent to, and waive all defenses of lack of personal jurisdiction and forum non conveniens with respect to venue and jurisdiction in such courts.

          </p><h4 class="paraheading">DISCLAIMER</h4>
          <p class="paragraph">
            THE SITE IS PROVIDED ON AN AS-IS AND AS-AVAILABLE BASIS. YOU AGREE THAT YOUR USE OF THE SITE AND OUR SERVICES WILL BE AT YOUR SOLE RISK. TO THE FULLEST EXTENT PERMITTED BY LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE SITE AND YOUR USE THEREOF, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. WE MAKE NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THE SITE’S CONTENT OR THE CONTENT OF ANY WEBSITES LINKED TO THE SITE AND WE WILL ASSUME NO LIABILITY OR RESPONSIBILITY FOR ANY (1) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT AND MATERIALS, (2) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF THE SITE, (3) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (4) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE SITE, (5) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH THE SITE BY ANY THIRD PARTY, AND/OR (6) ANY ERRORS OR OMISSIONS IN ANY CONTENT AND MATERIALS OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE SITE. WE DO NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE SITE, ANY HYPERLINKED WEBSITE, OR ANY WEBSITE OR MOBILE APPLICATION FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND WE WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND ANY THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES.<br />
            AS WITH THE PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE.


          </p><h4 class="paraheading">LIMITATIONS OF LIABILITY</h4>
          <p class="paragraph">
            IN NO EVENT WILL WE OR OUR DIRECTORS, EMPLOYEES, OR AGENTS BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL, OR PUNITIVE DAMAGES, INCLUDING LOST PROFIT, LOST REVENUE, LOSS OF DATA, OR OTHER DAMAGES ARISING FROM YOUR USE OF THE SITE, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
            [NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, OUR LIABILITY TO YOU FOR ANY CAUSE WHATSOEVER AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO [THE AMOUNT PAID, IF ANY, BY YOU TO US DURING THE  MONTH PERIOD PRIOR TO ANY CAUSE OF ACTION ARISING


          </p><h4 class="paraheading">INDEMNIFICATION</h4>
          <p class="paragraph">
            You agree to defend, indemnify, and hold us harmless, including our subsidiaries, affiliates, and all of our respective officers, agents, partners, and employees, from and against any loss, damage, liability, claim, or demand, including reasonable attorneys’ fees and expenses, made by any third party due to or arising out of: (1) [your Contributions]; (2) use of the Site; (3) breach of these Terms and Conditions; (4) any breach of your representations and warranties set forth in these Terms and Conditions; (5) your violation of the rights of a third party, including but not limited to intellectual property rights; or (6) any overt harmful act toward any other user of the Site with whom you connected via the Site.
            Notwithstanding the foregoing, we reserve the right, at your expense, to assume the exclusive defense and control of any matter for which you are required to indemnify us, and you agree to cooperate, at your expense, with our defense of such claims. We will use reasonable efforts to notify you of any such claim, action, or proceeding which is subject to this indemnification upon becoming aware of it.


          </p><h4 class="paraheading">ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES</h4>
          <p class="paragraph">
            Visiting the Site, sending us emails, and completing online forms constitute electronic communications. You consent to receive electronic communications, and you agree that all agreements, notices, disclosures, and other communications we provide to you electronically, via email and on the Site, satisfy any legal requirement that such communication be in writing.
            YOU HEREBY AGREE TO THE USE OF ELECTRONIC SIGNATURES, CONTRACTS, ORDERS, AND OTHER RECORDS, AND TO ELECTRONIC DELIVERY OF NOTICES, POLICIES, AND RECORDS OF TRANSACTIONS INITIATED OR COMPLETED BY US OR VIA THE SITE.
            You hereby waive any rights or requirements under any statutes, regulations, rules, ordinances, or other laws in any jurisdiction which require an original signature or delivery or retention of non-electronic records, or to payments or the granting of credits by any means other than electronic means.


          </p><h4 class="paraheading">GENERAL MISCELLANEOUS</h4>
          <p class="paragraph">
            These Terms and Conditions and any policies or operating rules posted by us on the Site constitute the entire agreement and understanding between you and us. Our failure to exercise or enforce any right or provision of these Terms and Conditions shall not operate as a waiver of such right or provision.

            Company is a company registered in U.A.E - Sharjah.
            Any formal legal notices should be sent to us at our Customer Services address set out in the Contact Us section.
            Failure by us to enforce a right does not result in a waiver of such right. You may not assign or transfer your rights under these Terms of Use.

            These Terms and Conditions operate to the fullest extent permissible by law. We may assign any or all of our rights and obligations to others at any time. We shall not be responsible or liable for any loss, damage, delay, or failure to act caused by any cause beyond our reasonable control.
            If any part of these Terms of Use is found to be unlawful, void, or unenforceable as a matter of law, all other parts of these Terms of Use shall be unaffected and shall remain in force.

            There is no joint venture, partnership, employment or agency relationship created between you and us as a result of these Terms and Conditions or use of the Site. You agree that these Terms and Conditions will not be construed against us by virtue of having drafted them.
            You hereby waive any and all defenses you may have based on the electronic form of these Terms and Conditions and the lack of signing by the parties hereto to execute these Terms and Conditions.


          </p><h4 class="paraheading">CONTACT US</h4>
          <p class="paragraph">
            If you experience problems with the Site or would like to comment on it, or to receive further information regarding use of the Site,  please feel free to Contact Us. at:<br />
            [Corporate Name]<br />
            [Corporate Address]<br />
            [Corporate Phone Number]<br />
            [Corporate Fax Number]<br />
            [Email Address]<br />


          </p><h4 class="paraheading">UPDATES</h4>
          <p class="paragraph">
            These Terms of Use were last updated in (28/03/2020).

          </p>



        </div>
      </div>
    </div>
  </div>
  <!-- end col -->
</div>

@section styles{
  <style>
    p {
      text-align: justify !important;
    }
  </style>
} 