@model IEnumerable<HFZMVC.Models.EntityFramework.RoleMaster>
@{
	ViewBag.Title = "User Group";
}


<div class="row">
	<div class="col-sm-12">
		<div class="page-title-box">
			<h4 class="page-title">Users Groups</h4>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="javascript:void(0);">Dashobard</a></li>
				<li class="breadcrumb-item"><a href="javascript:void(0);">Manage Users</a></li>
			</ol>
			<div class="state-information d-none d-sm-block">
				<a href="/UserGroup/Create" class="btn btn-primary waves-effect waves-light">
					<i class="fa fa-plus-circle"></i> Add New Role
				</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="card m-b-20">
			<div class="card-body">

				<table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="display: block; border-collapse: collapse; border-spacing: 0; width: 100%;">
					<thead>
						<tr>
							<th>#</th>
							<th>Group Name</th>
							<th style="width:200px">Actions</th>
						</tr>
					</thead>
					<tbody>
					   
						@foreach (var item in Model)
						{
					<tr>
						<td>
							 @item.ID
						</td>
						<td>
							@item.RoleName
						</td>
						<td>


							<a class="btn btn-primary waves-effect waves-light" href="/UserGroup/EditRole/@item.ID">
								<i class="fa fa-edit">
								</i>
							</a>
							<a class="btn btn-primary waves-effect waves-light" href="/UserGroup/ViewRole/@item.ID">
								<i class="fa fa-eye">
								</i>
							</a>

							@*<button type="button" class="btn btn-danger waves-effect waves-light"><i class="fa fa-times"></i></button>
							<button type="button" class="btn btn-secondary waves-effect waves-light"><i class="fa fa-eye"></i></button>*@
						</td>
					</tr>
						}
					   

					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- end col -->
</div>
<!-- end row -->