<footer class="footer">
  Copyrights © @DateTime.Now.Year, Beeah. All Rights Reserved.<br />

  Customer Support: Tel. +971 6 597 8522 – Email. <a href="mailto:wastepermit@beeah.ae">wastepermit@beeah.ae</a>
</footer>