
@{
	ViewBag.Title = "ManualPayment";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-sm-12">
		<div class="page-title-box">
			<h4 class="page-title">Pay by ( Cheque - Transfer )</h4>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="javascript:void(0);">Dashoard</a></li>
				<li class="breadcrumb-item"><a href="javascript:void(0);">Payments</a></li>
			</ol>
		</div>
	</div>
</div>
@using (Html.BeginForm("ManualPayment", "Payments", FormMethod.Post, new { onsubmit = "return checkform();", enctype = "multipart/form-data", accept_charset = "utf-8" }))
{
	<div class="row">

		<div class="col-lg-8">
			<div class="card m-b-20">
				<div class="card-body">
					<div class="container-fluid">
						<div class="row">
							<!-- left column -->
							<!-- edit form column -->
							<div class="col-md-12 personal-info" style="border-left: 1px solid #eee;">
								<div class="alert alert-info alert-dismissable">
									<a class="panel-close close" data-dismiss="alert">×</a>
									<i class="fa fa-coffee"></i>
									This is an <strong>.alert</strong>. Use this to show important messages to the user.
								</div>

								@using (Html.BeginForm("ManualPayment", "Payments", FormMethod.Post, new { onsubmit = "return checkform();", enctype = "multipart/form-data", accept_charset = "utf-8" }))
								{
									<div class="form-group">
										<label class="col-lg-12 control-label">Upload your Document (proof of payment):</label>
										<div class="col-lg-12">
											<input class="form-control" placeholder="Cheque Transfer Document" onchange="checkfile(this);" id="ReferenceFile" name="ReferenceFile" type="file">
											<label class="uploaddocument-btn" for="ReferenceFile"><i class="fa fa-upload"></i><span>Attach</span></label>
										</div>
										<input type="hidden" id="GrandTotalinput" name="GrandTotal" value="" />
										<input type="hidden" id="currentPermitID" name="PermitID" value="" />
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label class="col-lg-12 control-label">Cheque No:</label>
												<div class="col-lg-12">
													<input class="form-control numberonly" placeholder="Cheque No" id="ReferenceNo" name="ReferenceNo" type="text">
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="col-lg-12 control-label">Amount Paid:</label>
												<div class="col-lg-12">
													<input class="form-control floatNum" placeholder="Amount Paid" id="AmountPaid" name="AmountPaid" type="text">
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="col-lg-12 control-label">Payment Date:</label>
												<div class="col-lg-12">
													<input class="form-control date-picker" readonly placeholder="Select Date" id="PaymentDate" name="PaymentDate" type="text">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="col-lg-12 control-label">Details:</label>
												<div class="col-lg-12">
													<textarea class="form-control" placeholder="Details" id="Remarks" name="Remarks"></textarea>
												</div>
											</div>
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-12 control-label"></label>
										<div class="col-md-12">
											<input type="submit" class="btn btn-primary" value="Submit">
											<span></span>
											<input type="reset" class="btn btn-default" value="Cancel">
										</div>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-lg-4">
			<div class="card" style="min-height: 100%;">
				<div class="card-body charges">
					<h4 class="mt-0 header-title chargestitle"><i class="ti-receipt"></i> <span>Charges</span></h4>
					<div class="table-responsive">
						<table class="table mb-0">
							<tbody>
								<tr>
									<th scope="row" style="min-width: 220px;"><i class="ti-zip charges-icons"></i> Permit ID</th>
									@{ 
										string readallow = "";

										if (ViewBag.id != null)
										{
											readallow = "readonly";
										}
									}
									<td colspan="2">
										<input @readallow id="PermitID" value="@ViewBag.id" class="form-control" style="width: 100%;" onchange="getdata(this);" maxlength="20" type="text" />
									</td>
								</tr>
								<tr>
									<th scope="row"><i class="ti-settings charges-icons"></i> Amount</th>
									<td>AED</td>
									<td id="totalAmount">00.0</td>
								</tr>
								<tr>
									<th scope="row"><i class="ti-bookmark-alt charges-icons"></i> VAT</th>
									<td>AED</td>
									<td id="vatcharges">00.0</td>
								</tr>
								@{
									if (ViewBag.balance > 0)
									{
										<tr>
											<th scope="row"><i class="ti-bookmark-alt charges-icons"></i> Account Balance <input checked onchange="setBill(this);" style="vertical-align: sub;" type="checkbox" name="isinclude" id="isinclude" /></th>
											<td>AED</td>
											<td id="walletbalance">00.0</td>
										</tr>
									}
								}
								<tr class="totalcharges">
									<th scope="row"><i class="ti-files charges-icons"></i> Total</th>
									<td>AED</td>
									<td id="GrandTotal">00.0</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>


		<!-- end col -->
	</div>
}
<script>
	function checkform() {
		if ($("#ReferenceNo").val().trim() == "") {
      alert("Cheque No is required.");
			return false;
		}
		if ($("#PermitID").val().trim() == "") {
			alert("Permit ID is required.");
			return false;
		}
		if ($("#ReferenceFile").val().split('\\').pop().trim() == "") {
			alert("Reference File is required.");
			return false;
		}
		if ($("#AmountPaid").val().trim() == "") {
			alert("Amount Paid is required.");
			return false;
		}
		if ($("#PaymentDate").val().trim() == "") {
			alert("Payment Date is required.");
			return false;
		}
		return true;
	}
	function getdata(v) {
		var permitid = $(v).val();
		if (permitid) {
			$.ajax({
				url: "/Payments/getpermitVal/" + permitid,
				async: false,
				type: "POST",            // type of submision
				dataType: "text",        // what type of data we'll get back
				success: function (res) {
					var data = JSON.parse(res); console.log(data.Success);
					if (data.Success == true) {
						$('#totalAmount').html(data.totalAmount);
						$('#vatcharges').html(data.vatcharges);
						$('#walletbalance').html(data.walletbalance);
						var grandtotal = (+data.totalAmount + +data.vatcharges) - +data.walletbalance;
						$('#GrandTotal').html(data.grandtotal);
						$('#GrandTotalinput').val(data.grandtotal);
						$("#currentPermitID").val(permitid);
					}
					else {
						alert(data.msg);
						$(v).val("").focus();
					}
				}
			});
		}
	}
	function setBill(v) {
		if (v.checked == false) {
			var total = $('#GrandTotalinput').val();
			var balance = $('#walletbalance').html();
			var grandtotal = +total + +balance;
			$('#GrandTotal').html(grandtotal);
			$('#GrandTotalinput').val(grandtotal);
		}
		else {
			var total = $('#GrandTotalinput').val();
			var balance = $('#walletbalance').html();
			var grandtotal = +total - +balance;
			$('#GrandTotal').html(grandtotal);
			$('#GrandTotalinput').val(grandtotal);
		}
	}
	$(document).ready(function () {
		$('.date-picker').datepicker({
			//format: 'dd/mm/yyyy',
			autoclose: true
		});
		$("#PermitID").change();
	}); 
	$(document).on('keypress', '.numberonly', function () {
			if (event.which != 8 && event.which != 0 && (event.which < 48 || event.which > 57)) {
				return false;
			}
		});
	$(document).on('keypress', '.floatNum', function () {
			if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
				event.preventDefault();
			}
	});
	function checkfile(v) {
		let file = $(v).val().split('\\').pop().trim();
		let id = $(v).attr('id');
		var regex = /(?:\.([^.]+))?$/;
		var ext = regex.exec(file)[1].toLocaleLowerCase();
		if (ext == "pdf" || ext == "jpg" || ext == "png") {
			if (id == "inspection_form") {
				$("#filenamedisplay").val(file);
			}
		}
		else {
			$("#filenamedisplay").val("");
			alert("File with extension \"" + ext + "\" is not allowed. Only PDF, JPG and PNG formate are acceptable.");
			$(v).val(null);
		}
	}
</script>

